html{
	margin:0 ;
	padding:0;
}
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 14px;
    font-family: verdana;
    margin: 0;

}
#heading{
    float: left;
    width: 95px;
    /*background:#26C4C2*/
    background: white;
}
.apa{
	float: right;
	padding-right: 40%;
}
#heading a {
    line-height: 25px;
    text-decoration: none;
    padding-left: 60px;
    background: white;
    /*color:#FFF;*/
    font-family: aardvark cafe;
    font-size: 40px;
}
#menu {
	background:white;
    /*background:#26C4C2;*/
    width: 100%;
    height: 65px;
    margin: 0px;
    padding-left: 17%;
    
}
#menu ul {
    list-style: none;

}
#menu ul li {
    float: left;
    line-height: 65px
}
#menu ul li a {
    float:left; 
    width:100px; 
    display:block; 
    text-align:center; 
    color: black; 
    text-decoration:none; 
}
#menu ul ul {
    display:none; 
    list-style:none; 
    position:absolute;
    background:white; 
    /*background-color:#26C4C2;*/
    float: none;
    top:65px; 
    width:190px;
}
#menu ul li a:hover {
	background:white;
    /*background-color:#2E9EA2; */
    display:block;
}
#menu ul li:hover ul {
    display:block;
}
#menu ul ul li a {
    display:block;
    padding-left:30px; 
    text-align:left; 
    width:160px;
    height: 60px;
    line-height: 60px;
}
#menu ul ul li a:hover {
    color:#fff;
}

.bg{
	background-image: url("Keluargaku.png");
	width: 100%;
	height: 100%;
	position: fixed;
	float: left;
	left: 0;
}
.btntombol {
float: right;
margin-top: 0px;

}
.pencet{
margin-top: 2px;
}

#bawah{
background-color: #E0FFFF;
}
.conten{
width: 40%;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;
margin-left: auto;
background-color: white;

}
.image{
	width: 100px;
	height: 100px;
}

.navbar {
	width: 100%;
	height: 50px;
	background-color: #455e78;

}

.container {
	margin: 0px;
	padding: 12px 20px;
}

.navbar img {
width: 55px;

}
.bgs{
    background-image: url("gmbrhsl.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    float: left;
    left: 0;
}